.bg {
    height: 250px;
    margin: 30px 0;
    background: linear-gradient(45deg, #6bb6ff 0%, #2b52ff 50%, #85e3ec 100%) 0 0 / 200% 100% repeat;
    animation: color_change 5s infinite alternate;
}

@keyframes color_change {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
